* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}
.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

input {
  height: 40px;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 0;
  vertical-align: top;
}

ul {
  font-size: 18px;
}

ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

button {
  vertical-align: top;
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
